html {
  font-size: 14px;
  font-family: monospace;
  --light-tan: #cbc7da;
  --tan: #718064;
  --dark-tan: #2b3536;
  --gween: #3aee8b;
  --orange: rgb(214, 84, 23);
  --black: rgb(43, 40, 51);
  background-color: var(--dark-tan);
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 12px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 16px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 18px;
  }
}

.form-wrapper{
  scroll-snap-type: both mandatory;
}
.form {
  scroll-snap-align: center;
    font-size: 1.5rem;;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border: solid 4px var(--tan);
    border-radius: 1rem;
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    padding: 1rem;
  }
  button{
    border:2px solid rgb(214, 84, 23);
    background-color: var(--light-tan);
    font-size: 1.2rem;
    border-radius: 2rem;
    padding: 1rem;
  }
  .ig-login{
    font-size: 1.2rem;
    margin-left: 20vw;
    margin-right: 20vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .skip{
    background-color: transparent;
    text-decoration: underline;
  }
.label {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Dokdo', monospace;
    color: var(--light-tan);
    margin-bottom: 1rem;
  }
  
label p{
  font-size: 0.5rem;
  text-align: right;
}
input {
    background-color: var(--light-tan);
    /* border: solid 2px var(--tan); */
    color: var(--orange);
    font-family: monospace;
    font-size: 1.3rem;
    padding: 0.3rem;
    border-radius: 50px;
    height: 1.5rem;
    padding-left: 0.5rem;
  }
  
select {
    background-color: var(--light-tan);
    border: solid 1px var(--tan);
    color: var(--orange);
    font-family: monospace;
    border-radius: 50px;
    padding-left: 0.5rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
  }
  
option {
    color: var(--tan);
  }
  
option selected {
    color: var(--orange);
  }
  
.name {
    color: var(--tan);
    margin-top: -4rem;
    margin-left: 3rem;
    width: 50%;
  }
  
  .website {
    margin-left: 33vw;
  }
  
  .website div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .website span {
    color: var(--tan);
    margin-right: 15rem;
    margin-top: 0.4rem;
    position: absolute;
  }
  
  .website input {
    padding-left: 2.5rem;
  }
  
  .location {
    margin-left: -10vw;
    width: 50%;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .submit {
    text-decoration: none;
    height:min-content;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border-radius: 2rem;
    color: var(--light-tan);
    background-color: var(--orange);
  }
  
  .submit:hover {
    background-color: var(--light-tan);
    color: var(--orange);
  }
  
  .specializations {
    width: 100%;
  }
  
  .specializations > p {
    margin-bottom: 0.2rem;
  }
  
  .tags-input {
    border: solid 3px var(--light-tan);
    border-radius: 20px;
    background-color: var(--light-tan);
    color: var(--orange);
    font-family: monospace;
    font-size: 0.8rem;
  }

  .ig-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1vw;
  }

  .ig-thumbnail {
    width:10vw;
    height:10vw;
    margin:1px;
    object-fit: cover;
  }

 .selected{
  border: 2px solid greenyellow;
  opacity: 0.5;
 }

 #photoids{
  display: none;
 }

 .card {
  background-color: var(--light-tan);
  border-radius: 1rem;
  width: 20vw;
  min-width: fit-content;
  margin: 2vw;
  padding: 1rem;
  font-size: 1rem;
  color: var(--tan);
  font-family: 'Dokdo', monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: var(--orange);
  text-decoration-color: plum;
  margin: 0px;
}

a:hover {
  border: solid 2px plum;
}
