<!DOCTYPE html><html><body>
    <head>
      <link rel="stylesheet" href="static/index.css">
    </head>
    <div class="form ig-login">
        <p>Hey there! Super stoked you're joining the community. Follow these steps to get started, whether you're a tattooist or here for vibez:)</p>
        <form action="/getIG" method="get">
            <p>Are you an artist?</p>
        <button class="submit"><img href="https://toppng.com/public/uploads/preview/instagram-icon-11609365124lyquzat0xh.png"> 
            log into Instagram to show your works</button>
        </form>
        <p>or<br>
        <a href="/info" method="get" class="skip">enter your awesome tattooist</a>
        </p>
    </div>
</body></html>