<!DOCTYPE html><html><body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '529539469088905',
        xfbml      : true,
        version    : 'v15.0'
      });
      FB.AppEvents.logPageView();
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>  
  <head>
    <link rel="stylesheet" href="static/index.css">
  </head>
  <div>hi:(ß</div>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>
    {{hello}} {{ig}}!
    <div class="form">
      <formaction="/getIG" method="get">
        <label class='website label'>
          instagram
          <div>
            <span class='handle'>@</span>
            <input type="text" name="username" alt="enter the handle"/>
            {{ig}}
          </div>
          <p>or <button action="/" method="get">log into Instagram to show your work</button></p>
        </label>    
      </form>

      <form>
        <label class='name label'>
          artist's name
          <input type="text" name="artist" className='input'/>
        </label>
      
        <label class='location label'>
          location
          <select class='states input'>
            <option value="" selected disabled hidden>state</option>
            <!-- {states.map((json, i) => {
              const state = json.isoCode;
              return (<option value={state} key={i}>
              {state}</option>);
            })} -->
          </select>
          <select class='cities input'>
          <!-- onChange={(e) => setLocation(e.target.value + " " + state)}> -->
          <option value="" selected disabled hidden>city</option>
            <!-- {City.getCitiesOfState('US', state).map((json, i) => {
              const city = json.name;
              return (<option value={city} key={i}>
              {city}</option>);
            })} -->
          </select>
        </label>        
        <div class='specializations label'>
          <p>has experience with
            <!-- {/* <InfoButton /> */} -->
          </p>
          <div class="tags-input">
            <TagSelection allTags={suggestions} updateTags={updateTags}/>
          </div>
        </div>
        <button class='submit' >submit</button>
      </form>
    </div>
    </body></html>